.viewModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.viewModal-content {
	font-family: Century Gothic;
	font-size: 18px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    margin-bottom: 60px;
}

/* The Close Button */
.viewClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.viewClose:hover,
.viewClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.viewReviewModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.viewReviewModal-content {
	font-family: Century Gothic;
	font-size: 18px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

/* The Close Button */
.viewReviewClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.viewReviewClose:hover,
.viewReviewClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.titleDetails{
    margin-bottom: 20px;
    font-size: 24px;
}

.customerWholeInfo{
    width:46.95%;
    padding: 10px;
    border:1px solid #ADADAD;
    display:inline-block;
}
.customerWholeInfo div{
    margin-bottom: 10px;
}

.handymanWholeInfo{
    width:46.95%;
    padding: 10px;
    border:1px solid #ADADAD;
    display:inline-block;
}

.handymanWholeInfo div{
    margin-bottom: 10px;
}

.transactionWholeInfo{
    padding: 10px;
    border:1px solid #ADADAD;
    display:inline-block;
}

.transactionWholeInfoOne{
    width:45%;
    padding: 10px;
    display:inline-block;
}
.transactionWholeInfoOne div{
    margin-bottom: 10px;
}

.transactionWholeInfoTwo{
    margin-left: 23px;
    width:45%;
    padding: 10px;
    display:inline-block;
}
.transactionWholeInfoTwo div{
    margin-bottom: 10px;
}

.reportWholeInfo{
    width:45%;
    padding: 10px;
    border:1px solid #ADADAD;
    display:inline-block;
}

.reportWholeInfo div{
    margin-bottom: 10px;
}

.profilePic{
    width: 150px;
    height: 150px;
}

.profilePicContent{
    padding-left: 33%;
    padding-left: 33%;
}

.transactionInfo{
    display: flex;
}

.customerDetailsTitle{
    padding-top: 10px;
    padding-left: 10px;
}